<div class="wrapper">
    <form class="form-register" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!--Heading-->
        <h2 class="form-register-heading">Register</h2>
        <!--Firstname-->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" aria-describedby="firstName" required>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="form-error">
                <div *ngIf="firstName.errors.required">
                    First Name is required.
                </div>
            </div>
        </div>
        <!--Lastname-->
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" aria-describedby="lastName" required>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="form-error">
                <div *ngIf="lastName.errors.required">
                    Last Name is required.
                </div>
            </div>
        </div>
        <!--Phone-->
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" formControlName="phone" id="phone" aria-describedby="phone" placeholder="" required>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="form-error">
                <div *ngIf="phone.errors.required">
                    Phone Number is required.
                </div>
            </div>
        </div>
        <!--Username-->
        <div class="form-group">
          <label for="userName">Username</label>
          <div>
            <input type="text" class="form-control" formControlName="userName" id="userName" aria-describedby="userName" required>
            <span *ngIf="userName.pending" class="spinner-border spinner-border-sm"></span>
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="form-error">
                <div *ngIf="userName.errors.required">
                    Username is required.
                </div>
                <div *ngIf="userName.errors.usernameTaken">
                    This username has already been taken.
                </div>
            </div>
          </div>
        </div>
        <!--Password-->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" minlength="8" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    Password needs at least 8 characters.
                </div>
            </div>
        </div>
        <!--Confirm Password-->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" required>
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="form-error">
                <div *ngIf="confirmPassword.errors.required">
                    Confirm Password is required.
                </div>
            </div>
            <div *ngIf="!confirmPassword.invalid && registrationForm.errors?.passwordMismatch && (confirmPassword.dirty || confirmPassword.touched)" class="form-error">
                Passwords do not match.
            </div>
        </div>
        <!--Sign Up Button-->
        <button type="submit" class="btn btn-primary full-width" [disabled]="!registrationForm.valid">Sign Up</button>
        <!--Link-->
        <small id="emailHelp" class="form-text">Already got an account? Log in <a [routerLink]="['/login']">here</a></small>
    </form>
</div>
